<footer>
    <nav class="navFooter">
        <ul>
            <li><button class="btn-footer"><a href="/"><img src="../img/icons/home.svg" alt="Bolsa"></a></button></li>
            <li><button class="btn-footer"><img src="../img/icons/bolsalike.svg" alt="Bolsa"></button></li>
            
            <li class="li-pedir"><button class="btn-pedir"><a href="/cart_list"><img src="../img/icons/bolsa.svg" alt="Bolsa"></a></button></li>
            
            <li><button class="btn-footer"><img src="../img/icons/corazon.svg" alt="Bolsa"></button></li>
            <li><button class="btn-footer"><img src="../img/icons/usuario.svg" alt="Bolsa"></button></li>
        </ul>
    </nav>
</footer>
</button>