<footer class="cartFooter">
    <section>
        <article class="rowText">
            <div >            
                <p>Subtotal</p>
                <p>IVA (10%)</p>
                <p>Envio</p>
                <p>TOTAL</p>
            </div>
        </article>
        <article class="rowPrice">
            <div >
                <p id="subtotal"> &euro;</p>
                <p id="tasas"> &euro;</p>
                <p id="delivery">2.5 &euro;</p>
                <p id="total"> &euro;</p>
            </div>
        </article>
    </section>
    <a href="/confirm_delivery"><button class="buttonShop">Enviar pedido</button></a>
</footer>